.encrypt-menu a {
    padding: 10px;
    border-radius: 3px;
    color: #0099ff;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
}

.encrypt-menu a:hover, .encrypt-menu a:active, .encrypt-menu a:focus {
    background-color: #0099ff;
    color: #fff;
}
.encrypt-menu a.active {
    background-color: #0384da;
    color: #fff;
}

.encrypt-menu > a + a {
    margin-left: 10px;
}

.enc-result {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #a29f9f;
    border-radius: 4px;
    background: #e6e6e6;
    font-size: .8rem;
    user-select: all;
    color: #656565;
    word-break: break-all;
    max-width: 700px;
}
.hidden-copy-input {
    position: absolute;
    left: -99999px;
}