input.hidden {
    display: none;
}

.file-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 600px;
    border: 2px dashed #4f3eec;
}

.file-drop > .file-drop-target {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d5f0fd;
    color: #1267ab;
    flex-direction: column;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
    background: #2a94e0;
    color: #fff;
}

.file-wrapper {
    margin-bottom: 10px;
}

.file-wrapper.error .file-drop > .file-drop-target {
    background: #f1a2a2;
    color: #750000;
}

.file-wrapper.error .file-drop {
    border: 2px dashed #750000;
}

.gui-core-result pre {
    border: 1px solid #ccc;
    background-color: #ebebeb;
    color: #333;
}

.file-drop > .file-drop-target, .gui-core-result pre {
    max-width: 900px;
    max-height: 300px;
    overflow-y: auto;
}
.file-drop > .file-drop-target img {
    max-width: 350px;
}

.col-half {
    width: 49%;
    background: #ebebeb;
    padding: 15px;
    box-sizing: border-box;
}

.col-half p {
    font-size: 13px;
    padding: 5px 0;
    margin: 0;
}